<%= form_with id: "#{dom_id(todo)}_form", url: "/todos", class:"flex justify-center w-[80%] mx-auto my-8 gap-1", model: todo do |form| %>
  <div class="w-full">
      <%= form.text_field :task, class: "flex w-full p-1 h-full rounded" %>
      <% todo.errors.full_messages_for(:task).each do |message| %>
        <div class="text-red-500"><%= message %></div>
      <% end %>
  </div>

  <div>
      <%= form.submit class: "flex bg-blue-400 text-white h-full px-4 py-2 text-center cursor-pointer rounded" %>
  </div>
<% end %>