<%= turbo_include_tags %>

<h1 class="text-4xl font-semibold text-center mb-4">Todos</h1>

<%= render "form", todo: Todo.new %>

<%= render "todos", todos: @todos %>

<%= link_to "Create Todo", new_todo_path(@todo), class: "block w-[80%] mx-auto py-2 px-4 bg-blue-400 rounded mt-4 text-center text-white" %>