<h1>Todos</h1>

<ul>
    <% @todos.each do |todo| %>
        <li>
            <input type="checkbox">
                <%= link_to todo.task, todo %>
            </input>
        </li>
    <% end %>
</ul>